* {
    margin: 0;
    padding: 0;
}
body {
    font: 13px sans-serif;
}

.app {
    text-align: center;
    padding-top: 6em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3em;
    background-color: rgba(255,255,255,.85);
    border-bottom: 1px solid #eee;
    z-index: 100;
}

.app-logo {
    height: 80px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 1em;
    display: inline-block;
}
.app-logo img {
    animation: app-logo-spin infinite 20s linear;
    height: 100%;
}

@keyframes app-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.menu-link {
    padding: 0 5px;
    color: #666;
    line-height: 3em;
    display: inline-block;
}
