.form-wrapper {
    max-width: 20em;
    margin: auto;
    position: relative;
}

form {
    text-align: left;
}

.thankyou {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(255,255,255,.9);
    text-align: center;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    enable-background: new 0 0 37 37;
    width: 120px;
}

.svg-circ, .svg-tick {
    fill: none;
    stroke: #999;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.thankyou .path {
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.thankyou.show .path {
    opacity: 1;
    stroke-dashoffset: 0;
}
.thankyou .svg-tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
.thankyou p {
    opacity: 0;
    padding: 10px;
    color: #999;
}
.thankyou.show p {
    opacity: 1;
}